# Auto detect text files and perform LF normalization
* text=auto
*.psd=auto
*.fbx=auto
*.fbx filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
